{% extends 'store/base.html' %}
{% block content %}
    <!-- Feature Start -->
    <!-- Hero Start -->
    <div class="container-fluid pt-5 bg-primary hero-header">
        <div class="container pt-5">
            <div class="row g-5 pt-5">
                <div class="col-lg-8 align-self-center text-center text-lg-start mb-lg-5">
                    <h1 class="display-4 text-white mb-4 animated slideInRight">{{ album_title }}</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center justify-content-lg-start mb-0">
                            <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="#">Album</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">Informations</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-4 align-self-middle  text-center text-lg-end">
                    <a class="btn btn-light rounded-pill px-4" href="{% url 'store:listing' %}">Explorer tous les disques</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <div class="container-fluid bg-dark feature pt-5">
      <div class="container pt-5">
          <div class="row g-5">
              <div class="col-lg-6 align-self-center mb-md-5 pb-md-5 wow fadeIn" data-wow-delay="0.3s">
                 <h1 class="text-white mb-4">{{ album_title }}</h1>
                  <p class="text-light mb-4">Artistes</p>
                  <div class="d-flex align-items-center text-white mb-3">
                      <div class="btn-sm-square bg-white text-primary rounded-circle me-3">
                          <i class="fa fa-check"></i>
                      </div>
                      <span>{{ artists_name }}</span>
                  </div>
                  
                  <div class="row g-4 pt-3">
                      <div class="col-sm-6">
                          <div class="d-flex rounded p-3" style="background: rgba(256, 256, 256, 0.1);">
                              <i class="fa fa-users fa-3x text-white"></i>
                              <div class="ms-3">
                                  <h2 class="text-white mb-0" data-toggle="counter-up">9999</h2>
                                  <p class="text-white mb-0">Happy Clients</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="d-flex rounded p-3" style="background: rgba(256, 256, 256, 0.1);">
                              <i class="fa fa-check fa-3x text-white"></i>
                              <div class="ms-3">
                                  <h2 class="text-white mb-0" data-toggle="counter-up">9999</h2>
                                  <p class="text-white mb-0">Listners</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <h2 class="text-center artist_name">Réservation de l'album 
                        <br/>
                        <span class="text-success fw-bold">{{ album_title }}</span>
                        </h2>
                        <p style="margin-bottom: 20px;">Demandez-nous de mettre de côté l'album 
                            <em class="text-success fw-bold">{{ album_title }}</em> et venez le chercher dès demain en magasin ! </p>
                        <form class="form-inline" action="{% url 'store:detail' album_id=album_id %}" method="post">
                            {% csrf_token %}
                            <div class="form-floating mb-3 {% if form.name.errors %}has-warning has-feedback{% endif %}">
                                <!-- <input type="text" name="name" value="" id="name"> -->
                                {{ form.name }}
                                <label for="{{ form.name.id_for_label }}" class="control-label">Nom</label>
                            
                            </div>
                            <div class="form-floating mb-3 {% if form.email.errors %}has-warning has-feedback{% endif %}">
                                <!-- <input type="text" name="email" value="" id="email"> -->
                                {{ form.email }}
                                <label for="{{ form.email.id_for_label }}" class="control-label">E-mail</label>
                            
                            </div>
                            {% if errors %}
                            <div>
                            {% for key, error in errors %}
                            {% autoescape off %}
                                {{ error }}
                            {% endautoescape %}
                            {% endfor %}
                            </div>
                            {% endif %}
                            <!-- <input type="hidden" class="hidden" value="{{ album.id }}" name="album_id"> -->
                            <div class="text-center">
                           
                                {% if album_status == True %}
                                    <button type="submit" class="btn btn-success rounded-5 btn-lg">
                                    Réserver l'album</button>
                                {% else %}
                                    <button type="submit" class="btn btn-danger rounded-5 btn-lg disabled">
                                    Cet album n'est pas disponible </button>
                                {% endif %}
                            </div>
                        </form>
                    </div> 
                </div> 
            </div>
          </div>
      </div>
  </div>
  <!-- Feature End -->
  {% include "store/footer.html" %}
{% endblock %}
